In [1]:
from melee_analytics_platform.stream_searcher import YouTubeStreamer
from melee_analytics_platform.melee_stuff import MeleeCatcher
import pandas as pd
import numpy as np

c:\Users\brian\AppData\Local\Programs\Python\Python39\lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
# make a YouTube streamer
yt = YouTubeStreamer('uMAvZDtWTMA', headless=True)

In [3]:
# pop that into a melee catcher
mc = MeleeCatcher('20240105_184207', yt, frame_limit=4000)

loading model state

In [4]:
df = mc.watch()
df.head(20)

Average time to process a frame: 0.222 seconds

           0_Clock  1_Damage  1_Stock  4_Damage  4_Stock
frame_num
1          80000.0       0.0      4.0       0.0      4.0
2          80000.0       0.0      4.0       0.0      4.0
3          80000.0       0.0      4.0       0.0      4.0
4          75993.0       0.0      4.0       0.0      4.0
5          75969.0       0.0      4.0       0.0      4.0
6          75946.0       0.0      4.0       0.0      4.0
7          75922.0       0.0      4.0       0.0      4.0
8          75902.0      12.0      4.0       0.0      4.0
9          75879.0      12.0      4.0       0.0      4.0
10         75856.0      12.0      4.0       5.0      4.0
11         75832.0      12.0      4.0       5.0      4.0
12         75809.0      12.0      4.0       5.0      4.0
13         75786.0      12.0      4.0       5.0      4.0
14         75759.0      12.0      3.0       9.0      4.0
15         75736.0      12.0      4.0       9.0      4.0
16         75712.0      12.0      4.0       9.0      4.0
17         75689.0      12.0      4.0       9.0      4.0
18         75669.0      20.0      4.0       9.0      4.0
19         75649.0      20.0      4.0       9.0      4.0
20         75629.0      20.0      4.0      11.0      4.0

In [5]:
df.to_csv('melee_test.csv')